.row{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: 10px;
    color: black;
    margin-top: 5px 5px;
}

.slick-slider {  
    width: 90%;  
    margin: auto;  
    height: 100%;
  }
  img:hover{
     background-color: darkslategrey;
  }