<div class="row">
    <div>
       COVID Essential 
    </div>
    <div>
        Eye care
    </div>
    <div>
        Personal Care
    </div>
    <div>
        Mother & baby
    </div>
    <div>
        Devices
    </div>
    <div>
        Medicines
    </div>
    <div>
        Fitness
    </div>
    <div>
        Consult With Doctor
    </div>
</div>
<br>
<br>
<div>  
    

  <div class="row1">  
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
      <div ngxSlickItem *ngFor="let image of images" class="slide">  
        <img src="{{ image.img }}" width="100%">  
      </div>  
    </ngx-slick-carousel>  
  </div>

</div>