<header class="header">
	<div class="brand-box">
		<span class="brand"><img src="../../assets/image.png"></span>
	</div>
	
	<div class="text-box">
		<div class="content">
		<h1 class="heading-primary">
			<span class="heading-primary-main">MEDICO FOR LIFE</span>
			<br>
			<span class="heading-primary-sub">“The art of medicine consists of amusing the patient while nature cures the disease.”</span>
		</h1>
	 
			<a href="#" class="btn btn-white btn-animated">Pick Your Pills</a>

			
		</div>

		<div class="Signin">
			<a href="/Expresso/src/app/user/user.component.html/">Signin/SignUp</a>
			
			
		</div>
		

	
	</div>
	
</header>


